/*Font*/
/*---------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: "decorativeFont";
    src: url('../fonts/Padaloma_i.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Padaloma_i.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/Padaloma_i.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/Padaloma_i.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Padaloma_i.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/Padaloma_i.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*General styles*/
/*---------------------------------------------*/
*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 460px) {
    
    html, body {
        font-size: 1rem;
    }
}

h1, h2, h3, h4 {
    font-family: "decorativeFont", Fallback, sans-serif;
}

h1 {
    color: #A71E24;
}

a {
    color: #AFADAE;
    transition: all 0.2s;
}

a:hover {
    color: white;
}

a:hover.btn, 
a:hover.btn-dark {
    transform: scale(1.05);
}

iframe {
    border: 0;
    overflow: hidden;
}

.container {
    position: relative;
}

.cover {
    object-fit: cover;
}

/*goes on the parent of what you want to center */
.centerFlex { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.textRow {
    padding: 40px 0;
}

.lightText {
    color: white;
}

.darkText {
    color: black;
}

.textBlock {
    max-width: 700px;
    display: inline-block;
}

.darkBG {
    background-color: #040707;
    color: #AFADAE;
}

.redBG {
    background-color: #A71E24;
}

.darkGreyBG {
    background-color: #464647;
}

.btn {
    padding: 20px;
    background-color: #A71E24;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-dark {
    padding: 20px;
    background-color: #040707;
    width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.parallaxRow {
    position: relative;
    min-height: 100vh;
    width: auto;
    overflow: hidden;
}

.mediaOverlay {
    position: absolute;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.mediaOverlay:hover {
    opacity: 0;
}

.centerDiv {
    width: 100%;
    display: block;
    text-align: center;
}
/*Navigation styling*/
/*---------------------------------------------*/
.navContainer {
    position: fixed;
    top: 50px;
    z-index: 1;
    transition: all 0.1s;
}

.nav {
    height: 100px;
    text-align: center;
    opacity: 1;
}

/*
.nav:hover {
    opacity: 1;
}
*/

.solidNav {
    opacity: 1;
}

.redBar {
    position: relative;
    background-color: #A71E24;
    top: 10%;
    width: 40px;
    height: 80px;
    border-bottom: 5px solid #040707;
    transition: width 0.2s ease-in;
    transition: height 0.2s ease-in;
    transition: opactiy 0.2s ease-in;
}

.navCircle {
    position: absolute;
    top: 0;
    left: 1%;
    background-color: #AFADAE;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 640px) {
    .redBar {
        width: 30px;
        height: 60px;
    }
    
    .navCircle {
        width: 75px;
        height: 75px;
    }
}

.navCircleScaleDown {
    transform: scale(0.9);
}

.navCircleLeft {
    left: -10px;
}

@media screen and (max-width: 640px) {
    .navCircleLeft {
        left: -20px;
    }
}

.navLogo {
    width: 90%;
    height: auto;
}

.redBar ul {
    list-style: none;
    height: 100%;
}

.redBar ul li {
    display: inline-block;
    height: 100%;
    width: 20%;
}

.navLink {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    padding-top: 20px;
    display: block;
    opacity: 0;
}

@media screen and (max-width: 640px) {
    .navLink {
        padding-top: 15px;
        font-size: 1rem;
    }
}

.navLink:hover {
    color: #AFADAE;
}


/*Card styling*/
/*---------------------------------------------*/

.card {
    background-color: #A71E24;
    padding: 30px;
    color: #AFADAE;
    border: none;
}


.cardRow {
    padding: 50px;
    border-top: 40px solid #464647;
}

.cardImage {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.card .column {
    
}

.middleCol {
    padding-left: 50px;
}

@media screen and (max-width: 1024px) {
    .middleCol {
        padding-left: 0;
    }
    
    .cardImage {
        width: 100%;
    }
    
    .cardImage img {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .cardRow {
        padding: 0;
    }
}

.middleCol h3 {
    font-size: 2rem;
}

.middleCol p {
    font-style: italic;
}

.bio, .description {
    
}

/*Form Styling*/
/*---------------------------------------------*/

.contactForm {
    text-align: center;
    background-color: #464647;
    padding-top: 40px;
}

form {
    max-width: 700px;
    display: inline-block;
}

form textarea {
    height: 200px;
}

/*Banner styling */
/*---------------------------------------------*/

.bannerContainer {
    
}

.banner {
    height: 100px;
    width: 100%;
    position: relative;
/*    margin-top: 200px;*/
}

.headerGauge {
    position: absolute;
    padding: 0;
    height: 250px;
    width: 100%;
    top: -190px;
}

.headerGaugeInside {
    background-color: #AFADAE;
    border-radius: 100%;
    min-width: 20rem;
    height: 100%;
    padding-bottom: 2rem;
    border: 15px solid #040707;
}

.headerGaugeInside h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

/*Grid Styling*/
/*---------------------------------------------*/

.grid-col {
    position: relative;
    width: 20%;
}

.grid-img {
    height: 300px; 
    width: 100%;
    object-fit: cover;
}

.mediaImgOverlay {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*Full Page header styling */
/*---------------------------------------------*/


.fullHeaderContainer {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: -4;
}

.fullHeaderImg {
    position: absolute;
    top: 0;
    min-height: 120vh;
    min-width: 100%;
}

.fullHeaderImgOverlayContainer {
    position: relative;
    text-align: center;
    min-height: 120vh;
}

.vertCenter {
    padding-top: 10%;
}

.vertCenter h2 {
/*    margin-top: -10px;*/
}

@media screen and (max-width: 1163px) {
    .vertCenter h2 {
        font-size: 1.5rem;
    }
}

.centerHeaderLogo {
    transition: all 0.2s ease-in;
}

.vertCenter address {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    
}

/*TEAM Page */
/*---------------------------------------------*/
.crewRow {
    margin-bottom: 200px;
}

.ownerLeft {
    position: absolute;
    left: 10%;
    height: 80vh;
}

.ownerLeft img {
    height: 100%;
}

.ownerRight {
    position: absolute;
    right: 10%;
    height: 80vh;
}

.ownerRight img {
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .ownerLeft {
        left: -5%;
        height: 50vh;
    }
    .ownerRight {
        right: -5%;
        height: 50vh;
    }
}

@media screen and (max-width: 460px) {
    .ownerLeft, 
    .ownerRight {
        opacity: 0;
        transition: all 0.2s;
    }
    .crewRow {
        margin-bottom: 200px;
    }
    .centerHeaderLogo {
        margin-top: 100px;
    }
}

.ownerBioRow {
    padding: 50px;
    border-top: 40px solid #464647;
}

/*Service */
/*---------------------------------------------*/

.serviceHeader {
    height: 100%;
    position: relative;
    padding-bottom: 200px;
}

.serviceGraphicContainer {
    min-height: 50vh;
}

.serviceGraphicContainer p {
    margin-top: -100px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .serviceGraphicContainer p {
        margin-top: -30px;
    }
}

.serviceGraphic {
    width: 100%;
    min-height: 100vh;
}

@media screen and (max-width: 1024px) {
    .serviceGraphic {
        min-height: 50vh;
    }
}
/*Service table styling */
.serviceTable {
    margin-top: 20vh;
    padding-right: 50px;
}

@media screen and (max-width: 1024px) {
    .serviceTable {
        margin-top: 0;
        padding-right: 0;
    }
    
    .serviceTable img {
        display: none;
        opacity: 0;
    }
}

.serviceTable thead {
    background-color: #A71E24;
}

.serviceTable thead th {
    text-align: center;  
    color: white;
}

.serviceTable tbody tr:nth-child(even) {
    background-color:  #aeadae;
}

.serviceTable tbody tr:nth-child(odd) {
    background-color:  #464647;
    color: white;
}

#canvas {
    position: absolute; 
    display: none; 
    background-color:rgba(255, 255, 255, 0);
}

#animation_container {
    background-color:rgba(255, 255, 255, 0); 
    width: 100%; 
    height: 100%;
}

#dom_overlay_container {
    pointer-events: none; 
    overflow: hidden; 
    width: 1000px; 
    height: 600px; 
    position: absolute; 
    left: 0; 
    top: 0; 
    display: none;
}

#_preload_div_ {
    display: inline-block; 
    height: 600px; 
    width: 1000px; 
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
}

/*Home styling */
/*---------------------------------------------*/

.aboutInfo {
    position: relative;
    background-color: #040707;
    min-height: 50vh;
    padding: 0;
    text-align: center;
    color: #AFADAE;
    border-top: 40px solid #464647;
}

.aboutInfo .textBlock {
    margin: 10rem 0 2rem 0;
}

#homeData {
    padding-bottom: 2rem;
}

#animatedLogoContainer {
    position: absolute;
    padding: 0;
    height: 350px;
    width: 100%;
    top: -190px;
}

#animatedLogoBubble {
    background-color: #AFADAE;
    border-radius: 100%;
    min-width: 23rem;
    height: 100%;
    padding-bottom: 2rem;
    border: 15px solid #040707;
}

.brandRow {
    position: relative;
    padding: 0;
    text-align: center;
    color: #AFADAE;
    min-height: 100vh;
    text-align: center;
    color: #040707;
}


.darkBG .textBlock { 
    margin-top: 0;
}

#bikeSlider {
    margin-top: 50px;
}

@media screen and (max-width: 460px) {
    #bikeSlider {
        margin-bottom: 0;
    }
}

.bikeSliderImg {
    margin: 0 auto;
}

#brandSlider {
    margin-bottom: 50px;
    width: 50%;
}

#brandSlider img {
    margin: 0 20px;
}

@media screen and (max-width: 1024px) {
    #brandSlider {
        margin-bottom: 0;
        width: 100%;
    }
}

/*Media Page */
/*---------------------------------------------*/

.mediaRow {
    border-top: 40px solid #464647;
    background-color: #040707;
}

/*Lightbox styling */
/*---------------------------------------------*/
#lightbox {
    position:fixed; 
    top: 0%; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    text-align: center;
    background-color: rgba(167, 30, 34, 0.5); 
}

#lightboxContainer {
    padding-top: 10%;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
}

#lightbox p {
    margin: 0 auto;
    display: block;
    color: #fff; 
    font-size: 1rem;
    width: 50%;
}

#lightbox p:first-child {
/*    text-align: right;*/
    font-size: 1.2em;
    margin-top: 10%;
    margin-bottom: -10%;
}

#lightbox img {
    display: inline-block;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-height: 50vh;
    width: auto;
}

/*Experience Service Styling */
/*---------------------------------------------*/



/*Footer Styling */
/*---------------------------------------------*/
#map {
    height: 400px;
    width: 100%;
}

footer-view .column:nth-child(2) {
    background-color: #464647;
    height: 400px;
    text-align: right;
    padding: 100px 20px 20px 20px;
}

footer-view .column:nth-child(2) p {
    line-height: 10px;
    font-size: 1.2em;
}

.socialMedia, .footerLinks {
    list-style: none;
    display: block;
    
}

.socialMedia li, .footerLinks li {
    display: inline-block;
    padding: 10px;
}

.address p {
    color: white;
}
