/*General styles*/
/*---------------------------------------------*/
*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
}
@media screen and (max-width: 460px) {
    
    html, body {
        font-size: 1rem;
    }
}

a {
    color: #AFADAE;
    transition: all 0.2s;
}

a:hover {
    color: white;
    transform: scale(1.05);
}

iframe {
    border: 0;
    overflow: hidden;
}

.container {
    position: relative;
}

.cover {
    object-fit: cover;
}

/*goes on the parent of what you want to center */
.centerFlex { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.textRow {
    padding: 40px 0;
}

.textBlock {
    max-width: 700px;
    display: inline-block;
}

.darkBG {
    background-color: #040707;
    color: #AFADAE;
}

.redBG {
    background-color: #A71E24;
}

.btn {
    padding: 20px;
    background-color: #A71E24;
    width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-dark {
    padding: 20px;
    background-color: #040707;
    width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


/*Navigation styling*/
/*---------------------------------------------*/
.navContainer {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
}

.nav {
    width: 100%;
    height: 100px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s;
}

/*
.nav:hover {
    opacity: 1;
}
*/

.solidNav {
    opacity: 1;
}

.redBar {
    position: relative;
    background-color: #A71E24;
    top: 10%;
    width: 3%;
    height: 80px;
}

.navCircle {
    position: absolute;
    top: 0;
    left: 1%;
    background-color: #AFADAE;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: all 0.2s ease-in;
}

.navCircleScaleDown {
    transform: scale(0.9);
}

.navCircleLeft {
    left: -1%;
}

.navLogo {
    width: 90%;
    height: auto;
}

.redBar ul {
    list-style: none;
    height: 100%;
}

.redBar ul li {
    display: inline-block;
    height: 100%;
    width: 20%;
}

.navLink {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    display: block;
    padding-top: 20px;
}

.navLink:hover {
    color: #AFADAE;
}


/*Card styling*/
/*---------------------------------------------*/

.card {
    background-color: #A71E24;
    padding: 30px;
    color: #AFADAE;
}

.cardImage {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.card .column {
    
}

.middleCol {
    padding-left: 50px;
}

@media screen and (max-width: 1024px) {
    .middleCol {
        padding-left: 0;
    }
    
    .cardImage {
        width: 100%;
    }
    
    .cardImage img {
        width: 100%;
    }
}

.middleCol h3 {
    font-size: 2.5rem;
}

.middleCol p {
    font-style: italic;
}

.bio, .description {
    
}

/*Full Page header styling */
/*---------------------------------------------*/

.parallaxRow {
    position: relative;
    overflow: hidden;
}

.fullHeaderContainer {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    z-index: -4;
}

.fullHeaderImgContainer {
}

.fullHeaderImg {
    position: absolute;
    top: 0;
    min-width: 100vw;
    min-height: 1080px;
}

.fullHeaderImgOverlayContainer {
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

.transparentContainer {
    position: relative;
}

.transparentBG {
    position: absolute;
}

/*Full page TEAM Page */
/*---------------------------------------------*/
.ownerLeft {
    position: absolute;
    left: 10%;
    height: 80vh;
}

.ownerLeft img {
    height: 100%;
}

.ownerRight {
    position: absolute;
    right: 10%;
    height: 80vh;
}

.ownerRight img {
    height: 100%;
}

@media screen and (max-width: 890px) {
    .ownerLeft {
        left: -10%;
        height: 70vh;
    }
    .ownerRight {
        right: -10%;
        height: 70vh;
    }
    
}

@media screen and (max-width: 460px) {
    .ownerLeft {
        left: -25%;
        height: 60vh;
    }
    .ownerRight {
        right: -25%;
        height: 60vh;
    }
    .centerHeaderLogo {
        width: 300px;
        height: 300px;
    }
}

.ownerBioRow {
    padding: 50px;
}

.cardRow {
    padding: 50px;
}

/*Full Page Service Header*/
/*---------------------------------------------*/

.serviceHeader {
    height: 100vh;
    position: relative;
    padding: 0;
}

.serviceGraphicContainer {
    width: 100%;
    height: 100%;
}

.serviceGraphic {
    width: 100%;
    height: 100%;
}

.serviceTable {

}

/*Half page header styling */
/*---------------------------------------------*/


/*Home styling */
/*---------------------------------------------*/

#fullHeaderContainerHome .fullHeaderImg {
    height: 120vh;
}

.aboutInfo {
    position: relative;
    background-color: #040707;
    min-height: 50vh;
    padding: 0;
    margin-top: 120vh;
    text-align: center;
    color: #AFADAE;
    border-top: 40px solid #AFADAE;
}

.aboutInfo .textBlock {
    margin: 10rem 0 2rem 0;
}

#homeData {
    padding-bottom: 2rem;
}

#animatedLogoContainer {
    position: absolute;
    padding: 0;
    height: 350px;
    width: 100%;
    top: -190px;
}

#animatedLogoBubble {
    background-color: #AFADAE;
    border-radius: 100%;
    min-width: 23rem;
    height: 100%;
    padding-bottom: 2rem;
    border: 15px solid #040707;
}

.brandRow {
    position: relative;
    padding: 0;
    text-align: center;
    color: #AFADAE;
    min-height: 100vh;
    text-align: center;
    color: #040707;
}

#homeBrandContainer  {
   transform: translateY(-1050px);
}

#homeBrandContainer img {
    opacity: 0.8;
}

.darkBG .textBlock { 
    margin-top: 0;
}

#bikeSlider {
    margin-top: 50px;
}

.flex-caption {
    width: 100%;
    padding: 1%;
    margin: 25px 0 -60px 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 1.5rem;
    line-height: 18px;
}

@media screen and (max-width: 600px) {
    margin-bottom: 0;
}

#brandSlider {
    margin-bottom: 50px;
    width: 75%;
}


/*Experience Service Styling */
/*---------------------------------------------*/

/*Footer Styling */
/*---------------------------------------------*/
#map {
    height: 400px;
    width: 100%;
}