<div class="row expanded">
    <div class="column small-12">
        <h2>Contact</h2>
        <a href="tel:6092079572">(609) 207-9572</a>
        <p>Give us a call! It is our preferred method of contact.</p>
    </div>
    <div class="column small-12">
        
        <form name="contact" method="post" ng-submit="contact.$valid && handleFormSubmit(info)" novalidate>
            
            <label for="firstName">First Name<span class="required"> *</span></label>
                <input ng-model="info.firstName" type="text" class="form-input" id="firstName" name="firstName" placeholder="First Name" required>
            
            <label for="lastName">Last Name<span class="required"> *</span></label>
                <input ng-model="info.lastName" type="text" class="form-input" id="lastName" name="lastName" placeholder="Last Name" required>
            
            <label for="email">Email Address<span class="required"> *</span></label>
                <input ng-model="info.email" type="text" class="form-input" id="email" name="email" placeholder="Email@Address.com" required>
            
            <label for="phone">Phone Number<span class="required"> *</span></label>
                <input ng-model="info.phone" type="text" class="form-input" id="phone" name="phone" placeholder="(###) ###-####" required>
            
            <label for="bikeYear">Bike Year<span class="required"> *</span></label>
                <input ng-model="info.year" type="text" class="form-input" id="bikeYear" name="bikeYear" placeholder="Year of Bike" required>
            
            <label for="bikeMake">Bike Make<span class="required"> *</span></label>
                <input ng-model="info.make" type="text" class="form-input" id="bikeMake" name="bikeMake" placeholder="Make of Bike" required>
            
            <label for="bikeModel">Bike Model<span class="required"> *</span></label>
                <input ng-model="info.model" type="text" class="form-input" id="bikeModel" name="bikeModel" placeholder="Model of Bike" required>
            
            <label for="message">Message<span class="required"> *</span></label>
                <textarea ng-model="info.message" type="text" class="form-textarea" id="message" name="message" placeholder="What can we help you with?" cols="30" rows="5" required></textarea>
            
            <button class="btn" ng-disabled="contact.$invalid" type="submit" value="Submit">Submit</button>
            
        </form>
        
    </div>
</div>  