<div class="row expanded textRow redBG" id="towRow">
    <div class="column large-12 small-12 text-center">
        <h2>Need a Tow?</h2>
        <p class="textBlock">We highly recommend using **insert towing company** since they know how to tow a Motorcycle properly. Their number is ***-***-****, or if your own your phone just click the get a tow button to dial their number.</p>
        <a href="#" class="btn-dark">Get a Tow</a>
    </div>
</div>

<div class="row expanded darkBG textRow" id="lyftRow">
    <div class="column large-12 small-12 text-center">
        <h2>Need a Lyft?</h2>
        <p class="textBlock">Can't find a ride? Just call a Lyft! Click here to get taken to or from Redline Motorcycles.</p>
        <a href="#" class="btn">Get a Lyft</a>
    </div>
</div>