<div class="row expanded">
    <div class="column large-6 small-12">
        <div id="map"></div>
    </div>
    
    <div class="column large-6 small-12">
        <div class="address" itemscope itemtype='http://schema.org/LocalBusiness'>
            <div itemprop="address">
                <p>{{address.address}}</p>
                <p>{{address.city}}, {{address.state}} {{address.zipcode}}</p>
            </div>
            <p itemprop="telephone">
                <a href="#">
                    {{address.phone}}
                </a>
            </p>
            <ul class="socialMedia">
                <li ng-repeat="hour in hours.hours">
                    <span>{{hour.day}}</span>
                    {{hours.circle}}
                    <span>{{hour.hours}}</span>
                </li>
            </ul>
        </div>
        <div>
            <ul class="socialMedia">
                <li ng-repeat="link in info.socialmedia">
                    <a ng-href="{{link.url}}">
                        <i class="{{link.icon}} fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="footerLinks">
                <li ng-repeat="link2 in links.links">
                    <a ng-href="#!{{link2.url}}">
                        <p>{{link2.name}}</p>
                    </a>
                </li>
                <li>
                    <a href="#!/careers">
                        <p>Careers</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>