<div class="row expanded">
    <div class="columns large-12 small-12 fullHeaderContainer">
        <div class="fullHeaderImgContainer">
<!--            <video class="fullHeaderVid"></video>-->
            <img class="fullHeaderImg cover" src="../../images/wallpaper.jpg" />
        </div>
            <!--        Make a directive that swaps this information out dynamically -->
        <div class="fullHeaderImgOverlayContainer centerFlex">
            <img class="centerHeaderLogo" src="../../images/Logo-official.png" />
        </div>
    </div>
</div>