<!--issue #1 contact form does not submit to anything.-->
<!--issue #2 Lightbox has some concerns-->
<!--issue #3 Lyft is not integrated yet -->
<!--issue #4 media overlay still does not work -->
<!--issue #5 need all the content (video, biographies, images of everyone, all the service content)-->
<!--issue #6 need to figure out why the darn google maps doesnt always load -->

<!doctype html>
<html lang="en" ng-app="main">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redline Motorcycles</title>
        
        <!-- stylesheets -->
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/slick-theme.css">
              
        <!-- vendors -->
        
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
<!--        <script src="js/vendor/api-check.min.js"></script>-->
<!--        -->
<!--        <script src="js/vendor/formly.min.js"></script>-->
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src="js/Service_animation_final.js"></script>
        <script src="js/vendor/createjs.min.js"></script>
        <script src="js/vendor/foundation.min.js"></script>
        <script src="js/vendor/jquery.easing.js"></script>
        <script src="js/Service_animation_final.js"></script>
        <script src="js/vendor/slick.min.js"></script>
    </head>
    
    <body>
        <div class="container row expanded">
<!--navigation-->
            <div class="navContainer" ng-controller="HomeController">
                <navigation ng-if="windowWidth > 768" info="desktopLinks"></navigation>
                <navigation ng-if="windowWidth < 768" info="mobileLinks"></navigation>
            </div>
<!--main view-->
            <div ng-view autoscroll="true"></div>
            
            <div class="contactForm darkGreyBG" id="contact" >
                <div class="row expanded">
                    <div class="column small-12">
                        <h2>Contact</h2>
                        <a href="tel:6092079572">(609) 207-9572</a>
                        <p>Give us a call! It is our preferred method of contact.</p>
                    </div>
                    <div class="column small-12">

                        <form ng-controller="FormController" name="contactForm" method="post" ng-submit="contactForm.$valid && handleFormSubmit(contact)" novalidate>

                            <label for="firstName">First Name<span class="required"> *</span></label>
                                <input ng-model="contact.firstName" type="text" class="form-input" id="firstName" name="firstName" placeholder="First Name" required>

                            <label for="lastName">Last Name<span class="required"> *</span></label>
                                <input ng-model="contact.lastName" type="text" class="form-input" id="lastName" name="lastName" placeholder="Last Name" required>

                            <label for="email">Email Address<span class="required"> *</span></label>
                                <input ng-model="contact.email" type="text" class="form-input" id="email" name="email" placeholder="Email@Address.com" required>

                            <label for="phone">Phone Number<span class="required"> *</span></label>
                                <input ng-model="contact.phone" type="text" class="form-input" id="phone" name="phone" placeholder="(###) ###-####" required>

                            <label for="bikeYear">Bike Year<span class="required"> *</span></label>
                                <input ng-model="contact.year" type="text" class="form-input" id="bikeYear" name="bikeYear" placeholder="Year of Bike" required>

                            <label for="bikeMake">Bike Make<span class="required"> *</span></label>
                                <input ng-model="contact.make" type="text" class="form-input" id="bikeMake" name="bikeMake" placeholder="Make of Bike" required>

                            <label for="bikeModel">Bike Model<span class="required"> *</span></label>
                                <input ng-model="contact.model" type="text" class="form-input" id="bikeModel" name="bikeModel" placeholder="Model of Bike" required>

                            <label for="message">Message<span class="required"> *</span></label>
                                <textarea ng-model="contact.message" type="text" class="form-textarea" id="message" name="message" placeholder="What can we help you with?" cols="30" rows="5" required></textarea>

                            <button class="btn" ng-disabled="contactForm.$invalid" type="submit" value="Submit">Submit</button>

                        </form>

                    </div>
                </div>  
            </div>
<!--media-->
            <div ng-controller="MediaController">
                <media ng-if="windowWidth > 768" info="images" color="randomColor"></media>
            </div>
<!--footer-->
            <div ng-controller="HomeController">
                <footer-view info="footerData" links="mobileLinks" address="address"></footer-view>
            </div>
            
        </div>
        <!-- app -->
        <script src="js/app.js"></script>
<!--        <script src="js/vendor/angular-formly-templates-bootstrap.min.js"></script>-->
        
        <!-- controllers -->
        <script src="js/controllers/MediaController.js"></script>
        <script src="js/controllers/HomeController.js"></script>
        <script src="js/controllers/ServiceController.js"></script>
        <script src="js/controllers/TeamController.js"></script>
        <script src="js/controllers/FormController.js"></script>
        
        <!-- directives -->
        <script src="js/directives/cardDir.js"></script>
        <script src="js/directives/expServicesDir.js"></script>
        <script src="js/directives/footerDir.js"></script>
        <script src="js/directives/fullHeaderDir.js"></script>
        <script src="js/directives/halfHeaderDir.js"></script>
        <script src="js/directives/mediaDir.js"></script>
        <script src="js/directives/navigationDir.js"></script>
        <script src="js/directives/lightboxDir.js"></script>
        <script src="js/directives/navActionDir.js"></script>
        <script src="js/directives/formDir.js"></script>
        
        <!-- services -->
        <script src="js/services/navigationSer.js"></script>
        <script src="js/services/informationSer.js"></script>
        <script src="js/services/instagramSer.js"></script>
        <script src="js/services/facebookSer.js"></script>
        
        
    </body>
</html>