<div class="row expanded parallaxRow">
    <div class="columns large-12 small-12 halfHeaderContainer" id="halfHeaderContainerMedia">
        <div class="halfHeaderImgContainer" id="halfHeaderImgContainerMedia">
            <img class="halfHeaderImg cover" ng-src="{{ mediaData.headerBG }}" />
        </div>
    </div>
    
    <div class="fullHeaderImgOverlayContainer centerFlex">
        <img class="centerHeaderLogo" ng-src="{{ logo }}" />
    </div>
    <div class="column small-12 mediaRow">
        <media info="images" color="randomColor"></media>
    </div>
</div>


