
<div class="row expanded parallaxRow" id="serviceBG">
    <div id="indexContainer">
        <div class="indexMenu">
            <div class="tab">
                <p>Index</p>
            </div>
            <ol>
                <li ng-repeat="title in serviceData.serviceCat">
                    <a ng-click="click(title)">{{ title.title }}</a>
                </li>
            </ol>
        </div>
        
    </div>
    
    <div class="columns large-12 small-12 fullHeaderContainer">
        <div class="fullHeaderImgContainer" >
            <img class="fullHeaderImg cover" ng-src="{{ serviceData.headerBG }}" />
        </div>
    </div>

    <div class="row expanded fullHeaderImgOverlayContainer">
        <div class="row expanded serviceHeader">
            <div class="serviceGraphicContainer columns large-8 small-12" ng-click="changeTable()">
                <iframe name="serviceIframe" scrolling="no" src="Service_animation_final.html" class="serviceGraphic" id="serviceIframe"></iframe>
            </div>
            <div class="serviceTable columns large-4 small-12">
                <img ng-src="{{ logoLight }}" />
                <div class="transparentContainer">
                    <p class="whiteText">Click on any part of the bike for service information, or use the service index</p>
                    <p class="whiteText">Click on an item to view detailed services here.</p>
                    <div ng-if="selector.name" id="serviceTable">
                        <h4>{{selectedCat.title}}</h4>
                        <dl ng-repeat="service in selectedServices">
                            <dt ng-click="showDetails = ! showDetails">
                                {{service.name}}
                                <a ng-if="service.description" class="moreInfo">click for more information</a>
                            </dt>
                            
                            <dd ng-if="service.description" class="serviceDetails" ng-class="{'hidden': ! showDetails}"> 
                                {{ service.description }}
                            </dd>
                                
                        </dl>
                    </div>

                        <a href="#!/services/#contact" class="btn">Contact us</a>
    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row expanded cardRowLight darkBG">
    <div class="banner">
        <div class="centerFlex headerGauge">
            <div class="centerFlex headerGaugeInside">
                <h1>Common<br>Service</h1>
                
            </div>
        </div>
    </div>
    <div class="centerDiv">
        <p class="textBlock textRow text-center">Listed below are service requests we get frequently. They have prices that are relatively easy to quote accurately, and usually fall within the ranges quoted unless there are extraordinary circumstances. As always, if you have any questions just contact us.</p>
    </div>
    
    <div class="column large-12" ng-repeat="card in cards">
        <card info="card"></card>
    </div>
    <div class="centerDiv">
        <a href="#!/services/#contact" class="btn">Contact us</a>
    </div>
</div>

