
<div class="row expanded parallaxRow">

    <div class="columns large-12 small-12 fullHeaderContainer">
        <div class="fullHeaderImgContainer">
            <img class="fullHeaderImg cover" ng-src="{{ serviceData.headerBG }}" />
        </div>
    </div>

    <div class="row expanded fullHeaderImgOverlayContainer">
        <div class="row expanded serviceHeader">
            <div class="serviceGraphicContainer columns large-8 small-12" ng-click="changeTable()">
                <iframe name="serviceIframe" scrolling="no" src="../../Service_animation_final.html" class="serviceGraphic" id="serviceIframe"></iframe>
                <p>Click on a bike part for service information or use the service index</p>
            </div>
            <div class="serviceTable columns large-4 small-12">
                <img ng-src="{{ logo }}" />
                <div class="transparentContainer">
                    
                    <p class="lightText">Click on an item to view detailed services here.</p>
                    <table ng-if="selector.name" id="serviceTable">
                        <thead>
                            <tr>
                                <th>
                                    {{selectedCat.title}}
                                </th>
                            </tr>`
                        </thead>
                        <tbody>
                            <tr ng-repeat="service in selectedServices">
                                <td>{{service.name}} </td>
                            </tr>
                        </tbody>
                    </table>

                        <a href="#!/services/#contact" class="btn">Contact us</a>
    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row expanded cardRow darkBG">
    <div class="banner">
        <div class="centerFlex headerGauge">
            <div class="centerFlex headerGaugeInside">
                <h1>Common<br>Service</h1>
            </div>
        </div>
    </div>
    
    <div class="column large-12" ng-repeat="card in cards">
        <card info="card"></card>
    </div>
    <div class="centerDiv">
        <a href="#!/services/#contact" class="btn">Contact us</a>
    </div>
</div>

<exp-services info=""></exp-services>

