<div class="row expanded parallaxRow">
    <div class="columns large-12 small-12 fullHeaderContainer">
        <div class="fullHeaderImgContainer">
<!--            <video class="fullHeaderVid"></video>-->
            <img class="fullHeaderImg cover" ng-src="{{ teamData.headerBG }}" />
        </div>
    </div>
    
    <div class="fullHeaderImgOverlayContainer crewRow centerFlex">
        <img class="centerHeaderLogo" ng-src="{{ logo }}" />
        <div class="ownerLeft"> 
            <img ng-if="windowWidth > 1024" ng-src="{{ owners.dan.image }}" />
        </div>
        <div class="ownerRight">
            <img ng-if="windowWidth > 1024" ng-src="{{ owners.pat.image }}" />
        </div>
    </div>
    
</div>

<div class="row expanded ownerBioRow darkBG">
    <div class="banner">
        <div class="centerFlex headerGauge">
            <div class="centerFlex headerGaugeInside">
                <h1>The Crew</h1>
            </div>
        </div>
    </div>
    
    <div class="column large-6 small-12" ng-repeat="owner in owners">
        <div class="row expanded">
            <div class="column large-4 small-4">
                <img ng-src="{{owner.image}}">
            </div>
            <div class="column large-8 small-8">
                <h3>{{ owner.name }}</h3>
                <p>{{owner.bio}}</p>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="row expanded cardRow">
        <div class="column large-12 small-12" ng-repeat="card in cards">
            <card info="card"></card>
        </div>
       
    </div>
     <a href="#" class="btn-dark">Work for us</a>
</div>