<div class="row expanded parallaxRow" id="team">
    <div class="columns large-12 small-12 fullHeaderContainer">
        <div class="fullHeaderImgContainer">
<!--            <video class="fullHeaderVid"></video>-->
            <img class="fullHeaderImg cover" ng-src="{{ teamData.headerBG }}" />
        </div>
    </div>
    
<!--
    <div class="fullHeaderImgOverlayContainer crewRow centerFlex">
        <img class="centerHeaderLogo" ng-src="{{ logo }}" />
        
        
    </div>
-->
    
    <div class="fullHeaderImgOverlayContainer">
        <div class="row expanded vertCenter">
            <div class="ownerLeft"> 
                <img ng-if="windowWidth > 1024" ng-src="{{ owners.dan.image }}" />
            </div>
            
            <div class="ownerRight">
                <img ng-if="windowWidth > 1024" ng-src="{{ owners.pat.image }}" />
            </div>
            <div class="column small-12 large-12 small-centered">
                <img class="centerHeaderLogo" ng-src="{{ logoLight }}" />
            </div>
            
            <div class="column small-12 small-centered">
                <h2>
                    <a href="#">(609) 207-9572</a>
                </h2>
            </div>
            <div class="column small-12 small-centered">
                <address>
                    1628 Route 206 Ste C<br>
                    Tabernacle, NJ 08088
                </address>
            </div>
            <div class="column small-12 small-centered">
                <a href="#!/team/#contact" class="btn">Contact Us</a>
            </div>
            
        </div>
    </div>
    
</div>

<div class="row expanded ownerBioRow darkBG">
    <div class="banner">
        <div class="centerFlex headerGauge">
            <div class="centerFlex headerGaugeInside">
                <h1>The Crew</h1>
            </div>
        </div>
    </div>
    
    <div class="column large-6 small-12" ng-repeat="owner in owners">
        <div class="row expanded" ng-if="$index < 1">
            <div class="column large-4 small-12" >
                <img ng-if="windowWidth < 460" class="ownerImage" ng-src="{{owner.imageMobile}}">
                <img ng-if="windowWidth > 460" ng-src="{{owner.image}}">
            </div>
            <div class="column large-8 small-12">
                <h3 class="wrap">{{ owner.name }}</h3>
                <p class="wrap">{{owner.bio}}</p>
            </div>
        </div>
        <div class="row expanded" ng-if="$index >= 1 && windowWidth > 460">
            <div class="column large-8 small-12 small-push-12">
                <h3 class="wrapRight">{{ owner.name }}</h3>
                <p class="wrapRight">{{owner.bio}}</p>
            </div>
            <div class="column large-4 small-12 small-pull-12">
                <img ng-src="{{owner.image}}">
            </div>
        </div>
        
        <div class="row expanded" ng-if="$index >= 1 && windowWidth <= 460">
            <div class="column large-4 small-12 small-pull-12">
                <img class="ownerImage" ng-src="{{owner.imageMobile}}">
            </div>
            <div class="column large-8 small-12 small-push-12">
                <h3 class="wrapRight">{{ owner.name }}</h3>
                <p class="wrapRight">{{owner.bio}}</p>
            </div>
        </div>
    </div>
</div>


<div class="whiteBG">
    <div class="row expanded cardRow ">
        <div class="column large-12 small-12" ng-repeat="card in cards">
            <card info="card"></card>
        </div>
       
    </div>
     <a href="#!/careers" class="btn-dark">Work for us</a>
</div>